@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
/* importado do https://fonts.google.com*/
body{
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    /* as declarações de fonte acima podem ser simplificadas com: 
    font: 
    em que segue a seguinte ordem:
    - font-style -> font-weight -> font-size -> font-family*/
}